*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    height: 100%;
}

/* Classes úteis */
.center{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 2%;
}

.clear{
    clear: both;
}

.w50{
    float: left;
    width: 50%;
    padding: 10px 10px;
    margin: 10px 0;
}

/* Section main */
section#main{
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 15px 0;
    height: 90%;
    position: relative;
    color: white;
}
section#main div#layer{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
section#main header{
    position: relative;
    z-index: 2;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

section#main div#conteudo_header{
    position: relative;
    background-color: #228356;
    z-index: 1;
    width: 300px;
    margin: 50px calc(50% - 150px);
    padding: 20px;
}
section#main div#conteudo_header h3{
    font-size: 30px;
    font-weight: lighter;
    z-index: 0;
}

section#main div#conteudo_header div{
    margin: 10px;
}
section#main div#conteudo_header input[type="text"], 
section#main div#conteudo_header input[type="password"]{
    width: 200px;
}
section#main div#conteudo_header input[type="submit"]{
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #50cc98;

    border-radius: 2px;
    border-width: 1px;

    width: 100px;
    padding: 3px 0px;
    margin-top: 10px;
    margin-left: calc(50% - 50px);
}

footer{
    width: 100%;
    height: 10%;
    background-color: #50cc98;
    color: white;
    font-size: 18px;
    text-align: center;
}
footer p{
    padding: 15px;
}


@media screen and (max-width: 1000px){
    section#box_planos div.box_planos_single div.box_planos_single_wraper > h2{
        font-size: 20px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 900px){
    .w50{
        width: 100%;
    }
    section#main header nav#menu_desk{
        display: none;
    }
    section#main header nav#menu_mobile img{
        display: block;
    }
    section#box_planos div.box_planos_single{
        width: 100%;
        padding: 20px 5%;
    }
    section#box_planos div.box_planos_single:nth-child(2) div.box_planos_single_wraper > h2{
        font-size: 24px;
    }
}

@media screen and (max-width: 500px){
    section#contato div.time > .w50{
        width: 100%;
        margin:15px 0;
    }
}