<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/style_cameras.css"/>
    <title>Câmeras</title>
</head>
<body>
    <section id="Topo">
        <div id="layer"></div>
        <div class="center">
            <header>
                <div class="clear"></div>
                <div id="logo">
                    <h1>Bancos de dados EAG</h1>
                </div>
                <div id="Menu">
                    <ul>
                        <li style="background-color: rgba(0, 0, 0, 0.35);"><a href="{{ url_for('cameras') }}">Câmeras</a></li>
                        <li><a href="{{ url_for('clientes') }}">Clientes</a></li>
                        <li><a href="{{ url_for('historico') }}">Histórico</a></li>
                        <li><a href="{{ url_for('envios') }}">Envios</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </header>
        </div>
    </section>
    <section id="Main">
        <div id="botoes">
            <ul>
                <li><input type="button" id="addCamBtn" value="Adicionar câmera"></li>
                <li><input type="button" id="deleteCamBtn" value="Excluir câmera"></li>
                <li><input type="button" id="editCamBtn" value="Editar câmera"></li>
            </ul>
        </div>
        <div id="info">
            <div id="table-tittle">
                <div id="look-for-info">
                    <input type="text" id="searchInput" placeholder="Dados">
                    <button id="searchBtn" type="button">Procurar</button>
                    <button id="clearBtn" type="button">Limpar</button>
                </div>                
                <h3>Câmeras</h3>
            </div>
            <div class="table-container">
                <table id="camsTable">
                    <thead>
                        <tr>
                            <th>Modelo</th>
                            <th>Cloud</th>
                            <th>Mac</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if cameras %}
                            {% for camera_item in cameras %}
                                <tr class="cams-table-row" data-id="{{ camera_item.cameraid }}">
                                    <td id="hidden-td">{{ camera_item.cameraid }}</td>
                                    <td>{{ camera_item.modelo }}</td>
                                    <td id="old_Cloud">{{ camera_item.Cloud }}</td>
                                    <td>{{ camera_item.MAC }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan="3">Nenhum registro encontrado</td></tr>
                        {% endif %}
                    </tbody>              
                </table>
            </div>
        </div>
    </section>

    <!-- Modal de Adição -->
    <div id="addCamModal" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="addCamModal">&times;</span>
            <h2>Adicionar Câmera</h2>
            <form id="addCamForm" method="POST" action="{{ url_for('add_camera') }}">
                <label for="modelo">Modelo:</label>
                <input type="text" id="modelo" name="modelo" required><br><br>
                <label for="Cloud">Cloud:</label>
                <input type="text" id="Cloud" name="Cloud" required><br><br>
                <label for="MAC">MAC:</label>
                <input type="text" id="MAC" name="MAC" required><br><br>
                <input type="submit" value="Adicionar">
            </form>
        </div>
    </div>

    <!-- Modal de Edição -->
    <div id="editCamModal" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="editCamModal">&times;</span>
            <h2>Editar Câmera</h2>
            <form id="editCamForm" method="POST" action="{{ url_for('edit_camera') }}">
                <input type="hidden" id="cameraid" name="edit_id">
                <label for="edit_modelo">Modelo:</label>
                <input type="text" id="edit_Modelo" name="Modelo" required><br><br>
                <label for="edit_Cloud">Cloud:</label>
                <input type="text" id="edit_Cloud" name="Cloud" required><br><br>
                <label for="edit_MAC">MAC:</label>
                <input type="text" id="edit_MAC" name="MAC" required><br><br>
                <input type="submit" value="Atualizar">
            </form>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="js/menu_mobile.js"></script>
    <script>
        // Modal handling
        var modals = document.querySelectorAll('.modal');
        var btnAdd = document.getElementById("addCamBtn");
        var btnEdit = document.getElementById("editCamBtn");
        var btnDelete = document.getElementById("deleteCamBtn");

        function openModal(modalId) {
            var modal = document.getElementById(modalId);
            if (modal) {
                modal.style.display = 'block';
            } else {
                console.error('Modal não encontrado: ' + modalId);
            }
        }

        function closeModal(modal) {
            modal.style.display = "none";
        }

        modals.forEach(function(modal) {
            var closeSpan = modal.querySelector('.close');
            closeSpan.onclick = function() {
                closeModal(modal);
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    closeModal(modal);
                }
            }
        });

        btnAdd.onclick = function() {
            openModal('addCamModal');
        }

        var selectedRow = null;

        document.getElementById('camsTable').addEventListener('click', function(e) {
            var target = e.target;
            while (target && target.nodeName !== 'TR') {
                target = target.parentNode;
            }
            if (target && target.nodeName === 'TR') {
                if (selectedRow) {
                    selectedRow.classList.remove('selected');
                }
                selectedRow = target;
                selectedRow.classList.add('selected');
            }
        });

        btnEdit.onclick = function() {
            if (selectedRow) {
                var ip = selectedRow.children[0].textContent;
                var Modelo = selectedRow.children[1].textContent;
                var Cloud = selectedRow.children[2].textContent;
                var MAC = selectedRow.children[3].textContent;

                document.getElementById('cameraid').value = ip;
                document.getElementById('edit_Modelo').value = Modelo;
                document.getElementById('edit_Cloud').value = Cloud;
                document.getElementById('edit_MAC').value = MAC;

                openModal('editCamModal');
            } else {
                alert('Nenhum cliente selecionado.');
            }
        }

        btnDelete.onclick = function() {
            if (selectedRow) {
                var id = selectedRow.children[0].textContent;
                if (confirm('Tem certeza que deseja excluir o câmera com ID ' + id + '?')) {
                    $.post('{{ url_for("delete_camera") }}', { id: id })
                        .done(function() {
                            location.reload(); // Recarregar a página para refletir as mudanças
                        })
                        .fail(function(jqXHR) {
                            alert('Erro: ' + jqXHR.responseText);
                        });
                }
            } else {
                alert('Nenhuma câmera selecionado.');
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            var tableRows = document.querySelectorAll('.cams-table-row');
            var selectedRow = null;

            // Função para filtrar a tabela
            function filterTable() {
                var searchInput = document.getElementById('searchInput').value.toLowerCase();
                tableRows.forEach(function(row) {
                    var cells = row.querySelectorAll('td');
                    var rowVisible = false;
                    cells.forEach(function(cell) {
                        if (cell.textContent.toLowerCase().includes(searchInput)) {
                            rowVisible = true;
                        }
                    });
                    row.style.display = rowVisible ? '' : 'none';
                    var infoRow = row.nextElementSibling;
                });
            }

            // Adiciona um evento de clique para o botão "Procurar"
            document.getElementById('searchBtn').addEventListener('click', filterTable);            
        });

        // Atualiza a página
        document.getElementById('clearBtn').addEventListener('click', function(){
            window.location.reload();
        });

    </script>
</body>
<footer>
    <p>Todos os direitos reservados.</p>
</footer>
</html>
