<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/style_clientes.css"/>
    <title>Câmeras</title>
</head>
<body>
    <section id="Topo">
        <div id="layer"></div>
        <div class="center">
            <header>
                <div class="clear"></div>
                <div id="logo">
                    <h1>Bancos de dados EAG</h1>
                </div>
                <div id="Menu">
                    <ul>
                        <li><a href="{{ url_for('cameras') }}">Câmeras</a></li>
                        <li style="background-color: rgba(0, 0, 0, 0.35);"><a href="{{ url_for('clientes') }}">Clientes</a></li>
                        <li><a href="{{ url_for('historico') }}">Histórico</a></li>
                        <li><a href="{{ url_for('envios') }}">Envios</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </header>
        </div>
    </section>
    <section id="Main">
        <div id="botoes">
            <ul>
                <li><input type="button" id="addClientBtn" value="Adicionar cliente"></li>
                <li><input type="button" id="deleteClientBtn" value="Excluir cliente"></li>
                <li><input type="button" id="editClientBtn" value="Editar cliente"></li>
                <li><input type="button" id="viewClientDataBtn" value="Visualizar dados"></li>
            </ul>
        </div>
        <div id="info">
            <div id="table-tittle">
                <div id="look-for-info">
                    <input type="text" id="searchInput" placeholder="Dados">
                    <button id="searchBtn" type="button">Procurar</button>
                    <button id="clearBtn" type="button">Limpar</button>
                </div>                
                <h3>Clientes</h3>
            </div>
            <div class="table-container">
                <table id="clientTable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Número Intelbras</th>
                            <th>Telefone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if clientes %}
                            {% for cliente_item in clientes %}
                                <tr class="clients-table-row" data-id="{{ cliente_item.clienteid }}">
                                    <td id="hidden-td">{{ cliente_item.clienteid }}</td>
                                    <td>{{ cliente_item.nome }}</td>
                                    <td>{{ cliente_item.numero_cliente }}</td>
                                    <td>{{ cliente_item.telefone }}</td>
                                </tr>
                                <tr class="additional-info" data-id="{{ cliente_item.numero_cliente }}">
                                    <td colspan="4">
                                        <p>Endereço: {{ cliente_item.endereco }}</p>
                                        <p>Email: {{ cliente_item.email }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan="4">Nenhum registro encontrado</td></tr>
                        {% endif %}
                    </tbody>              
                </table>
            </div>
        </div>
    </section>

    <!-- Modal de Adição -->
    <div id="addClientModal" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="addClientModal">&times;</span>
            <h2>Adicionar cliente</h2>
            <form id="addClientForm" method="POST" action="{{ url_for('add_cliente') }}">
                <label for="add_nome">Nome:</label>
                <input type="text" id="add_nome" name="add_nome" required><br><br>
                <label for="add_numero_cliente">Número cliente:</label>
                <input type="text" id="add_numero_cliente" name="add_numero_cliente" required><br><br>
                <label for="add_telefone">telefone:</label>
                <input type="text" id="add_telefone" name="add_telefone" required><br><br>
                <label for="add_endereco">Endereço:</label>
                <input type="text" id="add_endereco" name="add_endereco" required><br><br>
                <label for="add_email">E-mail:</label>
                <input type="text" id="add_email" name="add_email" required><br><br>
                <input type="submit" value="Adicionar">
            </form>
        </div>
    </div>

    <!-- Modal de Edição -->
    <div id="editClientModal" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="editClientModal">&times;</span>
            <h2>Editar cliente</h2>
            <form id="editClientForm" method="POST" action="{{ url_for('edit_cliente') }}">
                <input type="hidden" id="edit_clienteid" name="edit_id">
                <label for="edit_nome">Nome:</label>
                <input type="text" id="edit_nome" name="Nome" required><br><br>
                <label for="edit_numero_intelbras">Número Intelbras:</label>
                <input type="text" id="edit_numero_intelbras" name="Numero_intelbras" required><br><br>
                <label for="edit_telefone">Telefone:</label>
                <input type="text" id="edit_telefone" name="Telefone" required><br><br>
                <label for="edit_endereco">Endereço:</label>
                <input type="text" id="edit_endereco" name="edit_endereco" required><br><br>
                <label for="edit_email">E-mail:</label>
                <input type="text" id="edit_email" name="edit_email" required><br><br>
                <input type="submit" value="Atualizar">
            </form>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="js/menu_mobile.js"></script>
    <script>

        function colorTable(){
            var element = document.querySelectorAll('.clients-table-row');
            // Altera a cor de fundo
            for(var i = 0; i < element.length; i++){
                if (i%2 == 0){
                    element[i].style.backgroundColor = '#e2e2e2'; 
                }else{
                    element[i].style.backgroundColor = '#7a7a7a'; 
                }
            }
        }
        
        colorTable();

        // Modal handling
        var modals = document.querySelectorAll('.modal');
        var btnAdd = document.getElementById("addClientBtn");
        var btnEdit = document.getElementById("editClientBtn");
        var btnDelete = document.getElementById("deleteClientBtn");

        function openModal(modalId) {
            var modal = document.getElementById(modalId);
            if (modal) {
                modal.style.display = 'block';
            } else {
                console.error('Modal não encontrado: ' + modalId);
            }
        }

        function closeModal(modal) {
            modal.style.display = "none";
        }

        modals.forEach(function(modal) {
            var closeSpan = modal.querySelector('.close');
            closeSpan.onclick = function() {
                closeModal(modal);
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    closeModal(modal);
                }
            }
        });

        btnAdd.onclick = function() {
            openModal('addClientModal');
        }

        var selectedRow = null;

        document.getElementById('clientTable').addEventListener('click', function(e) {
            var target = e.target;
            while (target && target.nodeName !== 'TR') {
                target = target.parentNode;
            }
            if (target && target.nodeName === 'TR') {
                if (selectedRow) {
                    selectedRow.classList.remove('selected');
                    colorTable();
                }
                selectedRow = target;
                selectedRow.classList.add('selected');
                selectedRow.style.backgroundColor = '#5f5f5f';
            } 
        });

        btnEdit.onclick = function() {
            if (selectedRow) {
                var id = selectedRow.children[0].textContent;
                var Nome = selectedRow.children[1].textContent;
                var Numero_intelbras = selectedRow.children[2].textContent;
                var Telefone = selectedRow.children[3].textContent;

                // Supondo que selectedRow seja um elemento DOM válido
                var dados = selectedRow.nextElementSibling.textContent.split('\n');
                var Email;
                var Endereco;
                // Supondo que `dados` seja o array com as linhas
                dados.forEach((linha) => {
                    // Verifica se a linha contém o caractere "E"
                    if (linha.includes('En')) {
                        Endereco = linha.trimStart().split(" ");
                        Endereco = Endereco.slice(1);
                        Endereco = Endereco.map(item => item.replace(/,/g, ' '));
                        Endereco = Endereco.join(' ');
                    } else if (linha.includes('Em')) {
                        Email = linha.trimStart().split(" ");
                        Email = Email[1];
                    }
                });

                document.getElementById('edit_clienteid').value = id;
                document.getElementById('edit_nome').value = Nome;
                document.getElementById('edit_numero_intelbras').value = Numero_intelbras;
                document.getElementById('edit_telefone').value = Telefone;
                document.getElementById('edit_endereco').value = Endereco;
                document.getElementById('edit_email').value = Email;

                openModal('editClientModal');
            } else {
                alert('Nenhum cliente selecionado.');
            }
        }

        btnDelete.onclick = function() {
            if (selectedRow) {
                var id = selectedRow.children[0].textContent;
                if (confirm('Tem certeza que deseja excluir o cliente com ID ' + id + '?')) {
                    $.post('{{ url_for("delete_cliente") }}', { id: id })
                        .done(function() {
                            location.reload(); // Recarregar a página para refletir as mudanças
                        })
                        .fail(function(jqXHR) {
                            alert('Erro: ' + jqXHR.responseText);
                        });
                }
            } else {
                alert('Nenhum cliente selecionado.');
            }
        }

        // Adiciona funcionalidade ao botão "Visualizar dados"
        document.getElementById('viewClientDataBtn').onclick = function() {
            if (selectedRow) {
                var id = selectedRow.getAttribute('data-id');
                var detailsRow = document.getElementById('details-' + id);

                if (detailsRow.style.display === 'none' || detailsRow.style.display === '') {
                    detailsRow.style.display = 'table-row';
                } else {
                    detailsRow.style.display = 'none';
                }
            } else {
                alert('Nenhum cliente selecionado.');
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            var tableRows = document.querySelectorAll('.clients-table-row');
            var selectedRow = null;

            // Adiciona um evento de clique para selecionar a linha
            tableRows.forEach(function(row) {
                row.addEventListener('click', function() {
                    // Remove a seleção de todas as linhas
                    tableRows.forEach(function(r) {
                        r.classList.remove('selected');
                    });
                    
                    // Define a linha selecionada
                    selectedRow = row;
                    selectedRow.classList.add('selected');
                });
            });

            // Adiciona um evento de clique para o botão "Visualizar dados"
            document.getElementById('viewClientDataBtn').addEventListener('click', function() {
                if (selectedRow) {
                    var infoRow = selectedRow.nextElementSibling;
                    if (infoRow && infoRow.classList.contains('additional-info')) {
                        // Alterna a classe expanded para mostrar/ocultar os detalhes
                        infoRow.classList.toggle('expanded');
                    }
                } else {
                    alert('Nenhum cliente selecionado.');
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            var tableRows = document.querySelectorAll('.clients-table-row');
            var selectedRow = null;

            // Função para filtrar a tabela
            function filterTable() {
                var searchInput = document.getElementById('searchInput').value.toLowerCase();
                tableRows.forEach(function(row) {
                    var cells = row.querySelectorAll('td');
                    var rowVisible = false;
                    cells.forEach(function(cell) {
                        if (cell.textContent.toLowerCase().includes(searchInput)) {
                            rowVisible = true;
                        }
                    });
                    row.style.display = rowVisible ? '' : 'none';
                    var infoRow = row.nextElementSibling;
                });
            }

            // Adiciona um evento de clique para o botão "Procurar"
            document.getElementById('searchBtn').addEventListener('click', filterTable);            
        });

        // Atualiza a página
        document.getElementById('clearBtn').addEventListener('click', function(){
            window.location.reload();
        });

    </script>
</body>
<footer>
    <p>Todos os direitos reservados.</p>
</footer>
</html>
