<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="Style/Images/envio.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Style/style_envios.css"/>
    <title>Envios</title>
</head>
<body>
    <section id="Topo">
        <div id="layer"></div>
        <div class="center">
            <header>
                <div class="clear"></div>
                <div id="logo">
                    <h1>Bancos de dados EAG</h1>
                </div>
                <div id="Menu">
                    <ul>
                        <li><a href="{{ url_for('cameras') }}">Câmeras</a></li>
                        <li><a href="{{ url_for('clientes') }}">Clientes</a></li>
                        <li><a href="{{ url_for('historico') }}">Histórico</a></li>
                        <li style="background-color: rgba(0, 0, 0, 0.35);"><a href="{{ url_for('envios') }}">Envios</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </header>
        </div>
    </section>
    <section id="Main">
        <div id="botoes">
            <ul>
                <li><input type="button" id="addEnvioBtn" value="Adicionar envio"></li>
                <li><input type="button" id="deleteEnvioBtn" value="Excluir teste"></li>
                <li><input type="button" id="editEnvioBtn" value="Editar envio"></li>
                <li><input type="button" id="viewRelatorioBtn" value="Visualizar relatório"></li>
            </ul>
        </div>
        <div id="info">
            <div id="table-tittle">
                <div id="look-for-info">
                    <input type="text" id="searchInput" placeholder="Dados">
                    <button id="searchBtnEnvios" type="button">Procurar</button>
                    <button id="clearBtnEnvios" type="button">Limpar</button>
                </div>                
                <h3>Envios</h3>
            </div>
            <div class="table-container">
                <table id="envioTable">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Câmera</th>
                            <th>Status do teste</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if envios %}
                            {% for envio_item in envios %}
                                <tr class="envios-table-row" data-id="{{ envio_item.envioid }}">
                                    <td id="hidden-td">{{ envio_item.envioid }}</td>
                                    <td>{{ envio_item.clienteid }}</td>
                                    <td>{{ envio_item.cameraid }}</td>
                                    <td>{{ envio_item.status }}</td>
                                </tr>
                                <tr class="additional-info" data-id="{{ envio_item.envioid }}">
                                    <td colspan="4">
                                        <p>Número do pedido: {{ envio_item.numero_pedido }}</p>
                                        <p>Sequência: {{ envio_item.sequencia }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan="4">Nenhum registro encontrado</td></tr>
                        {% endif %}
                    </tbody>              
                </table>
            </div>
        </div>
    </section>

    <!-- Modal de Adição -->
    <div id="addEnvioModal" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="addEnvioModal">&times;</span>
            <div id="info">
                <div class="table-container">
                    <div id="table-container-clients">
                        <div id="table-tittle">
                            <h3>Clientes</h3>
                            <div id="look-for-info">
                                <input type="text" id="searchInput" placeholder="Dados">
                                <button id="searchBtnClientes" type="button">Procurar</button>
                                <button id="clearBtnClientes" type="button">Limpar</button>
                            </div>                
                        </div>
                        <table id="clientsTable">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Número Intelbras</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if clientes %}
                                    {% for cliente_item in clientes %}
                                        <tr class="clients-table-row" data-id="{{ cliente_item.clienteid }}">
                                            <td id="hidden-td">{{ cliente_item.clienteid }}</td>
                                            <td>{{ cliente_item.nome }}</td>
                                            <td>{{ cliente_item.numero_cliente }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr><td colspan="4">Nenhum registro encontrado</td></tr>
                                {% endif %}
                            </tbody>              
                        </table>
                    </div>
                    <div id="table-container-btn-add">
                        <input type="button" id="addEnvioConfirmBtn" value="Confirmar">
                    </div>
                    <div id="table-container-cams">
                        <div id="table-tittle">
                            <h3>Câmeras</h3>
                            <div id="look-for-info">
                                <input type="text" id="searchInput" placeholder="Dados">
                                <button id="searchBtnCameras" type="button">Procurar</button>
                                <button id="clearBtnCameras" type="button">Limpar</button>
                            </div>                
                        </div>
                        <table id="camsTable">
                            <thead>
                                <tr>
                                    <th>Modelo</th>
                                    <th>Cloud</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if cameras %}
                                    {% for camera_item in cameras %}
                                        <tr class="cams-table-row" data-id="{{ camera_item.cameraid }}">
                                            <td id="hidden-td">{{ camera_item.cameraid }}</td>
                                            <td>{{ camera_item.modelo }}</td>
                                            <td>{{ camera_item.Cloud }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr><td colspan="3">Nenhum registro encontrado</td></tr>
                                {% endif %}
                            </tbody>              
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Adição de infos sobre o envio -->
    <div id="addInfoEnvio" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="addInfoEnvio">&times;</span>
            <h2>informações sobre o envio</h2>
            <form id="addInfoEnvioForm" method="POST" action="{{ url_for('add_InfoEnvio') }}">
                <input type="hidden" id="addInfo_clienteid" name="addInfo_clienteid">
                <input type="hidden" id="addInfo_camid" name="addInfo_camid">
                <input type="hidden" id="addInfo_status" name="addInfo_status" value="ATIVO">
                <label for="numero_pedido">Número do pedido:</label>
                <input type="text" id="numero_pedido" name="numero_pedido" ><br><br>
                <label for="sequencia">Sequência:</label>
                <input type="text" id="sequencia" name="sequencia" ><br><br>
                <input type="submit" value="Atualizar">
            </form>
        </div>
    </div>

     <!-- Modal de Edição -->
     <div id="editEnviosdModal" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="editEnviosModal">&times;</span>
            <h2>Editar envio</h2>
            <form id="editEnviosForm" method="POST" action="{{ url_for('edit_envios') }}">
                <input type="hidden" id="edit_envioid" name="envio_id">
                <label for="editClienteid">ID do cliente:</label>
                <input type="text" id="editClienteid" name="editClienteid" ><br><br>
                <label for="editCameraid">ID da câmera:</label>
                <input type="text" id="editCameraid" name="editCameraid" ><br><br>
                <label for="editAcesso">Acesso:</label>
                <input type="text" id="editNota_fiscal" name="editNota_fiscal" ><br><br>
                <label for="editNota_fiscal">Nota fiscal:</label>
                <input type="text" id="editNota_fiscal" name="editNota_fiscal" ><br><br>
                <label for="editNumero_pedido">Número do pedido:</label>
                <input type="text" id="editNumero_pedido" name="editNumero_pedido" ><br><br>
                <label for="editSequencia">Sequência:</label>
                <input type="text" id="editSequencia" name="editSequencia" ><br><br>
                <label for="editStatus">Status:</label>
                <input type="radio" name="editStatus" value="Ativo"> Ativo
                <input type="radio" name="editStatus" value="Inativo"> Inativo
                <input type="submit" value="Atualizar">
            </form>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="js/menu_mobile.js"></script>
    <script>

        function colorTable(){
            var element = document.querySelectorAll('.clients-table-row');
            // Altera a cor de fundo
            for(var i = 0; i < element.length; i++){
                if (i%2 == 0){
                    element[i].style.backgroundColor = '#e2e2e2'; 
                }else{
                    element[i].style.backgroundColor = '#7a7a7a'; 
                }
            }
        }
        
        colorTable();

        // Modal handling
        var modals = document.querySelectorAll('.modal');
        var btnAdd = document.getElementById("addEnvioBtn");
        var btnEdit = document.getElementById("editEnvioBtn");
        var btnDelete = document.getElementById("deleteEnvioBtn");
        var btnRelatorio = document.getElementById("viewRelatorioBtn");
        var btnConfirmarAdicao = document.getElementById("addEnvioConfirmBtn");

        function openModal(modalId) {
            var modal = document.getElementById(modalId);
            if (modal) {
                modal.style.display = 'block';
            } else {
                console.error('Modal não encontrado: ' + modalId);
            }
        }

        function closeModal(modal) {
            modal.style.display = "none";
        }

        modals.forEach(function(modal) {
            var closeSpan = modal.querySelector('.close');
            closeSpan.onclick = function() {
                closeModal(modal);
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    closeModal(modal);
                }
            }
        });

        btnAdd.onclick = function() {
            openModal('addEnvioModal');
        }

        btnEdit.onclick = function() {
            if (selectedRow) {
                var envioid = selectedRow.children[0].textContent;
                var clienteid = selectedRow.children[1].textContent;
                var cameraid = selectedRow.children[2].textContent;
                var acesso = selectedRow.children[3].textContent;
                var nota_fiscal = selectedRow.children[4].textContent;
                var numero_pedido = selectedRow.children[5].textContent;
                var sequencia = selectedRow.children[6].textContent;
                var status = selectedRow.children[7].textContent;

                // Supondo que selectedRow seja um elemento DOM válido
                var dados = selectedRow.nextElementSibling.textContent.split('\n');
                var Email;
                var Endereco;
                // Supondo que `dados` seja o array com as linhas
                dados.forEach((linha) => {
                    // Verifica se a linha contém o caractere "E"
                    if (linha.includes('En')) {
                        Endereco = linha.trimStart().split(" ");
                        Endereco = Endereco.slice(1);
                        Endereco = Endereco.map(item => item.replace(/,/g, ' '));
                        Endereco = Endereco.join(' ');
                    } else if (linha.includes('Em')) {
                        Email = linha.trimStart().split(" ");
                        Email = Email[1];
                    }
                });

                document.getElementById('edit_clienteid').value = id;
                document.getElementById('editCameraid').value = Nome;
                document.getElementById('editAcesso').value = acesso;
                document.getElementById('editNota_fiscal').value = nota_fiscal;
                document.getElementById('editNumero_pedido').value = numero_pedido;
                document.getElementById('editSequencia').value = sequencia;
                document.getElementById('edit_numero_intelbras').value = Numero_intelbras;
                document.getElementById('editStatus').value = status;

                openModal('editEnviosdModal');
            } else {
                alert('Nenhum cliente selecionado.');
            }
        }

        var selectedRow = null;
        document.getElementById('envioTable').addEventListener('click', function(e) {
            var target = e.target;
            while (target && target.nodeName !== 'TR') {
                target = target.parentNode;
            }
            if (target && target.nodeName === 'TR') {
                // Remove a seleção da linha anterior
                if (selectedRow) {
                    selectedRow.classList.remove('selected');
                    selectedRow.style.backgroundColor = ''; // Reseta a cor de fundo
                }
                // Seleciona a nova linha
                selectedRow = target;
                selectedRow.classList.add('selected');
                selectedRow.style.backgroundColor = '#5f5f5f'; // Define a cor de fundo
            } 
        });

        var selectedRowClient = null;
        document.getElementById('clientsTable').addEventListener('click', function(e) {
            var target = e.target;
            while (target && target.nodeName !== 'TR') {
                target = target.parentNode;
            }
            if (target && target.nodeName === 'TR') {
                // Remove a seleção da linha anterior
                if (selectedRowClient) {
                    selectedRowClient.classList.remove('selected');
                    selectedRowClient.style.backgroundColor = ''; // Reseta a cor de fundo
                }
                // Seleciona a nova linha
                selectedRowClient = target;
                selectedRowClient.classList.add('selected');
                selectedRowClient.style.backgroundColor = '#5f5f5f'; // Define a cor de fundo
            } 
        });

        var selectedRowCam = null;
        document.getElementById('camsTable').addEventListener('click', function(e) {
            var target = e.target;
            while (target && target.nodeName !== 'TR') {
                target = target.parentNode;
            }
            if (target && target.nodeName === 'TR') {
                // Remove a seleção da linha anterior
                if (selectedRowCam) {
                    selectedRowCam.classList.remove('selected');
                    selectedRowCam.style.backgroundColor = ''; // Reseta a cor de fundo
                }
                // Seleciona a nova linha
                selectedRowCam = target;
                selectedRowCam.classList.add('selected');
                selectedRowCam.style.backgroundColor = '#5f5f5f'; // Define a cor de fundo
            } 
        });

        btnConfirmarAdicao.onclick = function() {
            if (selectedRowClient && selectedRowCam) {
                document.getElementById('addInfo_clienteid').value = selectedRowClient.children[0].textContent;
                document.getElementById('addInfo_camid').value = selectedRowCam.children[0].textContent;
                openModal('addInfoEnvio');
            }
        };

        btnDelete.onclick = function() {
            if (selectedRow) {
                var id = selectedRow.children[0].textContent;
                if (confirm('Tem certeza que deseja excluir o envio com ID ' + id + '?')) {
                    $.post('{{ url_for("delete_envio") }}', { id: id })
                        .done(function() {
                            location.reload(); // Recarregar a página para refletir as mudanças
                        })
                        .fail(function(jqXHR) {
                            alert('Erro: ' + jqXHR.responseText);
                        });
                }
            } else {
                alert('Nenhum cliente selecionado.');
            }
        }

        // Função para selecionar linhas
        document.addEventListener('DOMContentLoaded', function() {
            var tableRows = document.querySelectorAll('.clients-table-row');
            var selectedRow = null;

            // Adiciona um evento de clique para selecionar a linha
            tableRows.forEach(function(row) {
                row.addEventListener('click', function() {
                    // Remove a seleção de todas as linhas
                    tableRows.forEach(function(r) {
                        r.classList.remove('selected');
                    });
                    
                    // Define a linha selecionada
                    selectedRow = row;
                    selectedRow.classList.add('selected');
                });
            });

            // Adiciona um evento de clique para o botão "Visualizar dados"
            document.getElementById('viewClientDataBtn').addEventListener('click', function() {
                if (selectedRow) {
                    var infoRow = selectedRow.nextElementSibling;
                    if (infoRow && infoRow.classList.contains('additional-info')) {
                        // Alterna a classe expanded para mostrar/ocultar os detalhes
                        infoRow.classList.toggle('expanded');
                    }
                } else {
                    alert('Nenhum cliente selecionado.');
                }
            });
        });

        // Adiciona evento de clique para os botões de busca em envios
        var searchButtonEnvios = document.getElementById('searchBtnEnvios');
        searchButtonEnvios.addEventListener('click', function() {
            var input = searchButtonEnvios.previousElementSibling; // O input é o elemento anterior ao botão
            var tableRows = document.querySelectorAll('.envios-table-row'); // Seleciona as linhas da tabela de envios
            filterTable(tableRows, input);
        });

        // Adiciona evento de clique para os botões de busca em clientes
        var searchButtonClientes = document.getElementById('searchBtnClientes');
        searchButtonClientes.addEventListener('click', function() {
            var input = searchButtonClientes.previousElementSibling; // O input é o elemento anterior ao botão
            var tableRows = document.querySelectorAll('.clients-table-row'); // Seleciona as linhas da tabela de clientes
            filterTable(tableRows, input);
        });

        // Adiciona evento de clique para os botões de busca em câmeras
        var searchButtonCameras = document.getElementById('searchBtnCameras');
        searchButtonCameras.addEventListener('click', function() {
            var input = searchButtonCameras.previousElementSibling; // O input é o elemento anterior ao botão
            var tableRows = document.querySelectorAll('.cams-table-row'); // Seleciona as linhas da tabela de câmeras
            filterTable(tableRows, input);
        });

        // Função para filtrar a tabela
        function filterTable(tableRows, input) {
            var searchInput = input.value.toLowerCase();
            tableRows.forEach(function(row) {
                var cells = row.querySelectorAll('td');
                var rowVisible = false;
                cells.forEach(function(cell) {
                    if (cell.textContent.toLowerCase() == searchInput) {
                        rowVisible = true;
                    }
                });
                row.style.display = rowVisible ? '' : 'none';
            });
        }

        // Adiciona evento de clique para o botão "Limpar" em Envios
        var clearButtonEnvios = document.getElementById('clearBtnEnvios');
        clearButtonEnvios.addEventListener('click', function() {
            var input = document.getElementById('searchInput'); // Altere para o ID correto
            input.value = ''; // Limpa o valor do input
            var tableRows = document.querySelectorAll('.envios-table-row'); // Seleciona todas as linhas da tabela de envios
            tableRows.forEach(function(row) {
                row.style.display = ''; // Mostra todas as linhas
            });
        });

        // Adiciona evento de clique para o botão "Limpar" em Clientes
        var clearButtonClientes = document.getElementById('clearBtnClientes');
        clearButtonClientes.addEventListener('click', function() {
            var input = clearButtonClientes.previousElementSibling; // O input é o elemento anterior ao botão
            input.value = ''; // Limpa o valor do input
            var tableRows = document.querySelectorAll('.clients-table-row'); // Seleciona todas as linhas da tabela de clientes
            tableRows.forEach(function(row) {
                row.style.display = ''; // Mostra todas as linhas
            });
        });

        // Adiciona evento de clique para o botão "Limpar" em Câmeras
        var clearButtonCameras = document.getElementById('clearBtnCameras');
        clearButtonCameras.addEventListener('click', function() {
            var input = clearButtonCameras.previousElementSibling; // O input é o elemento anterior ao botão
            input.value = ''; // Limpa o valor do input
            var tableRows = document.querySelectorAll('.cams-table-row'); // Seleciona todas as linhas da tabela de câmeras
            tableRows.forEach(function(row) {
                row.style.display = ''; // Mostra todas as linhas
            });
        });

    </script>
</body>
<footer>
    <p>Todos os direitos reservados.</p>
</footer>
</html>
