<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <title>Bancos de dados EAG</title>
</head>
<body>
    <section id="main">
        <div id="layer"></div>
        <div class="center">
            <header>
                <div class="clear"></div>
                <div id="logo">
                    Bancos de dados EAG
                </div>
                <div class="clear"></div>
            </header>
            <div id="conteudo_header">
                <h3>banco:</h3>
                <p>ip</p>
                <br>
                <h3>Senha:</h3>
                <p>senha</p>
                </div>
        </div>
    </section>
</body>
<footer>
    <p>Todos os direitos reservados.</p>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="js/menu_mobile.js"></script>
</html>